$color-theme: #3498df;

$color-theme-active: #8BCDFF;

$color-green: #52E0E2;

$color-grey: #999999;

$color-red: #ff4e4e;

$backgroup-color: #F0F4F8;

$border-color: #e2e2e2;

$active-color: #DFE3EA;